p{
	color: rgb(130, 0, 120);
}
.fondo{
	margin: -20px;
	padding: 10px;
	background: lightgray;
	border: 1px soft black;
}
.verede{
	color: #202124;
	background-color: #bfefff;
	font-size: 30px;
	text-align: left;
	font-family: Perpetua;
	border: 4px solid goldenrod;
	border-radius: 50px;
	margin-left: 20px;
	padding: 5px;
	/* float: left; */
	line-height: 20px;
	width: 50%;
}
.vorodo{
	color: #202124;
	background-color: #bfefff;
	font-size: 30px;
	text-align: center;
	font-family: Perpetua;
	border: 4px solid goldenrod;
	border-radius: 50px;
	margin-left: 20px;
	padding: 5px;
	/* float: left; */
	line-height: 20px;
	width: 50%;
}
.vorod{
	color: #202124;
	background-color: #bfefff;
	font-size: 30px;
	text-align: center;
	font-family: Perpetua;
	border: 4px solid goldenrod;
	border-radius: 50px;
	margin-left: 20px;
	padding: 5px;
	/* float: right; */
	line-height: 20px;
	width: 30%;
}
.imagenes{
	border: 3px solid black;
	border-radius: 50px;
	margin-left: 60%;
	margin-top: -80%;
	margin-bottom: 25px;
	padding-bottom: 8px;
	width: 38%;
	/* float: right; */
	background-color: #5f6368;
}
.headerr{
	font-family: cursive, sans-serif;
	border: 5px solid black;
	background-color: gray;
	text-align: center;
	padding-top: 20px;
	font-size: 60px;
	height: 100px;
}
.cosco{
	background-color: rgb(255, 255, 255);
}
.medio{
	text-align: center;
}
.floiz{
	float: left;
}
.floder{
	float: right;
}
.gray_background{
	border: 2px soft gray;
	background-color: #003049;
}
.barde{
	border: 2px solid black;
}
.cosco2{
	color: #202124;
}
.primar{
	color: #d069ff;
	text-align: center;
}
.foot{
	font-family: cursive, sans-serif;
	border: 5px solid black;
	background-color: gray;
	text-align: center;
	margin-top: 10px;
	padding-top: 20px;
	font-size: 60px;
	height: 100px;
}
.boton{
	color: rgb(140, 12, 24);
	background-color: #8845f4;
	line-height: 40px;
	border: 2 solid goldenrod;
	border-radius: 20px;
	float: left;
	line-width: 40px;
	margin-left: 20px;
	margin-top: 15px;
	text-decoration: none;
}
